@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px !important;
}

h3 {
    font-size: 25px !important;
}

h4 {
    font-size: 20px !important;
}

a {
    text-decoration: none !important;
}

.bg-acikSari {
    background-color: #F0F4C3;
}

#topHeader a {
    color: #fff;
}

#footer {
    line-height: 16px !important;
}

#footer a,
#content a {
    color: #393939;
}

#footer .bi,
#content .bi {
    font-size: 24px;
}

#footer .bi:hover,
#content .bi:hover {
    color: #17a2b8;
    transition: .5s;
}

.bg-acikMavi {
    background-color: #ddeaff;
}

#cta p {
    font-size: 35px;
}

#hakkimdaBanner {
    background-image: url('../img/ari-bilisim-hakkimda-2000x1125.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.py-15 {
    padding-top: 150px;
    padding-bottom: 150px;
}

#projeler .modal-footer {
    flex-wrap: nowrap;
}

#content img {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.45);
}

.empty {
    padding-top: 25px;
    padding-bottom: 25px;
}

#webHizmeti {
    background-image: url('../img/web-tasarim-hizmeti-1000x500.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#grafikHizmeti {
    background-image: url('../img/grafik-tasarim-hizmeti-1500x573.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#dijitalHizmet {
    background-image: url('../img/dijital-pazarlama-hizmeti-1000x700.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#blogBanner {
    background-image: url('../img/blog-banner-1500x640.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#webTasarimda {
    background-image: url('../img/web-tasarimda-dikkat-edilmesi-gerekenler-1500x500.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#iletisimBanner {
    background-image: url('../img/iletsim-banner-1500x640.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#iletisimInfo i {
    font-size: 34px;
}

#iletisimInfo a {
    font-size: 22px;
    color: #393939;
}


/* Mobil Görünüm Css Width 768px */

@media (max-width:768px) {
    /*    
    bu Şekilde tanımlama yapılırsa tüm sayfalara gidip ilgili class ismini eklemek gerekir
    .solaYasla {
        text-align: left !important;
    }    
    */
    #topHeader .col-md-6:nth-child(2) {
        text-align: left !important;
    }
    /* #anaSayfaBanner .col-md-6:nth-child(2) {
        padding-top: 30px;
    } */
    #anaSayfaBanner img {
        margin-top: 30px;
    }
    #hizmetlerim .col-md-4:nth-child(3) {
        margin-top: 15px;
        margin-bottom: 15px !important;
    }
    #cta p {
        font-size: 24px;
    }
    #blog .col-8 {
        padding-left: 40px;
    }
    #blog .col-md-6:nth-child(2),
    #blog .col-md-6:nth-child(4) {
        margin-top: 20px;
    }
    #footer .sol {
        margin-top: 15px !important;
        margin-bottom: 15px;
    }
    #bottomFooter .col-md-6 {
        text-align: center !important;
    }
    #hakkimdaBanner .display-4 {
        font-size: 35px;
        line-height: 1rem;
    }
    #hakkimdaIcerik .col-12 img {
        width: 56px;
    }
    #projeler .col-md-4:nth-child(3) {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #webHizmeti,
    #grafikHizmeti,
    #dijitalHizmet,
    #blogBanner,
    #iletisimBanner {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .orta {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #content .col-md-3 {
        margin-top: 25px;
    }
    #iletisimInfo a,
    #iletisimInfo p {
        font-size: 18px !important;
    }
    #iletisimForm iframe {
        height: 335px;
    }
    #iletisimForm .col-md-6:nth-child(2) {
        margin-top: 25px;
    }
}